body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card {
    width: 300px;
    padding: 20px;
    background-color: rgb(147, 252, 252);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 128, 0, 0.2); /* Light green box shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(2); /* Slight zoom effect on hover */
    box-shadow: 0px 6px 12px rgba(0, 128, 0, 0.3); /* Increased box shadow on hover */
    font-size: x-large;
    color: rgb(112, 224, 0);
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-content {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    
}